@charset 'UTF-8';

// Configuration and helpers
@import 'animate';
@import 'responsive';
@import 'fonts';
@import 'style';

@import 'scss/variables';
@import 'scss/reset';
@import 'scss/fonts';
@import 'scss/typography';
@import 'scss/code-skin';
@import 'scss/header';
@import 'scss/hero-banner';
@import 'scss/client-banner';
@import 'scss/blog-header';
@import 'scss/posts-list';
@import 'scss/single-post';
@import 'scss/pagination';
@import 'scss/responsiveness';

body {
  font-family: 'Gotham', sans-serif !important;
}

.blog {
  background: $background;
}

.header {
  z-index: 100;
  font-family: 'Gotham';
}

.btn-hollow {
  display: inline-block;
  padding: 12px 24px;
  font: 600 14px/14px 'Gotham';
  color: #fff;
  border: 3px solid #fff;
  background: 0;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
}

.style-helper {
  .header {
    background: none;

    &:before {
      background: url(../images/header-bg-outer.png) repeat-y center 0, url(../images/header.png) repeat 0 0;
    }

    .container {
      max-width: 960px;
      padding-left: 80px;
    }
  }

  .logo {
    width: auto;
  }

  .logo a {
    background: url(../images/logo.png) no-repeat 0 0; 
    -webkit-background-size: 100% 100%; 
    background-size: 100% 100%; 
  }

  .nav {
    li:nth-child(3) {
      margin-right: 240px;
    }
  }
}

.header {
  &.header-transparent {
    background: none;
    box-shadow: none;

    &:after {
      background: none;
    }

    &:before {
      background: none;
    }

    .nav {
      a {
        color: #fff;
      }
    }  
  }
}    